<div style="position: relative" :class="{open:showDropdown}">
<input class="form-control" autocomplete="off"
       v-model="val"
       :placeholder="placeholder"
       :type.once="type"
       @blur="showDropdown = false"
       @keydown.down="down"
       @keydown.enter="hit"
       @keydown.esc="reset"
       @keydown.up="up"
/>
<ul class="dropdown-menu" ref="dropdown">
  <li v-for="(item, i) in items" :class="{active: isActive(i)}">
    <a @mousedown.prevent="hit" @mousemove="setActive(i)">
      <component :is="templateComp" :item="item"></component>
    </a>
  </li>
</ul>
</div>
