.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.idea/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
