.input-file {
  position: absolute;
  opacity: 0;
  padding: 6px;
  width: 80%;
  z-index: 999;
}

.infile {
  position: relative;
  width: 100%;

  .form-control {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 0;
  }

  .icon .form-control-feedback {
    right: 60px;
  }

  .btn-overflow {
    overflow: hidden;
  }

  .dropdownInfile {
    width: 15%;
  }

  .dropdown-toggle {
    width: 100%;
  }

  .btn-base {
    width: 83%;
  }

  .btn-close {
    width: 15%;
    min-width: 40px;
  }
}

.form-inline {
  .btn-base {
    width: auto;
  }
  .btn-close {
    width: auto;
    min-width: 40px;
  }
}
