<div class="form-group"
:class="[showState]">
<div class="infile">
  <slot name="label">
    <label v-if="label" class="control-label" :class="labelClass()">{{label}}</label>
  </slot>

  <div :class="wrapperClass()">

    <div class="btn-group form-control">

      <input type="file"
      :name="name"
      :disabled="disabled"
      :multiple="multiple"
      @change="changeUploadImage"
      class="input-file" />
      <button
      type="button"
      :disabled="disabled"
      class="btn btn-default btn-base btn-overflow">{{ textButton }}</button>

      <a class="btn btn-default btn-close" @click="removeFile()" v-if="clearButton" :disabled="disabled">
        <span class="fa fa-close"></span>
      </a>

    </div>
  </div>

  <div v-if="showHelp" class="help-block relative">{{help}}</div>
  <div v-if="showError" class="help-block with-errors relative">{{error}}</div>
</div>

</div>
