//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base: #000 !default;
$white: #fff;
$purple: #92278f;
$dark-purple: #250c49;
$orange: #e17a29;

$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777

$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$gray-lighter2: lighten($gray-base, 92%) !default; // #eee


$brand-primary: darken($purple, 6.0%) !default; // #92278f
$brand-secondary: darken($purple, 10.5%) !default; // #92278f
$brand-primary-darker: darken($purple, 20.5%) !default; // #92278f

$brand-success: #5cb85c !default;
$brand-info: #716980 !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;


// bg colors
$bg-purple: $purple;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #fff !default;
//** Global text color on `<body>`.
$text-color: $gray-dark !default;

//** Global textual link color.
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

//** Horizontal line color.
$hr-border: $gray-lighter !default;
//** Text muted color
$text-muted: $gray-light !default;
