<div class="selectCountry">
  <div :class="baseclass">
    <div class="form-group btn-group-justified">
      <label>{{labelCountry}}</label><br/>
      <bs-select :options="options.country"
                placeholder="Select your Country"
                class="wd100"
                v-model="vcountry"
                @change="selectCountryChange"
                 :disabled="disabled"
                 :readonly="readonly"
                 :search="search"
      ></bs-select>
      </div>
  </div>

  <div :class="baseclass">
    <div class="form-group btn-group-justified">
      <label>{{labelState}}</label><br/>
      <bs-select :options="options.state"
                placeholder="Select your state"
                v-model="vstates"
                class="wd100"
                @change="selectStateChange"
                 :disabled="disabled"
                 :readonly="readonly"
                 :search="search"
      ></bs-select>
    </div>
  </div>
</div>
