.input-file {
  position: absolute;
  opacity: 0;
  padding: 6px;
  width: 80%;
  z-index: 999;
}

.infile {
  position: relative;
  width: 100%;

  .form-control {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 0;
  }

  .btn-base {
    width: 85%;
  }

  .dropdownInfile {
    width: 15%;
  }

  .dropdown-toggle {
    width: 100%;
  }
}
