<div class="form-group"
     :class="[showState]">

  <slot name="label">
    <label v-if="label" class="control-label" :class="labelClass()" @click="focus">{{label}}</label>
  </slot>

  <div :class="wrapperClass()">

    <slot name="before"></slot>

    <div :is="type=='textarea'?type:'input'" class="form-control" ref="input"
         :cols="cols"
         :disabled="disabled"
         :name="name"
         :placeholder="placeholder"
         :readonly="readonly"
         :rows="rows"
         :title="attr(title)"
         :type="type=='textarea'?null:type"
         v-bind:value="value"
         @input="bindInput"
         @focus="emit" @blur="emit" @keydown="emit"
    ></div>


    <div v-if="clearButton && value" :class="{icon:icon}">
      <span class="close" @click="reset()">&times;</span>
    </div>
    <div v-if="icon" class="icon">
      <span :class="['form-control-feedback fa','fa-'+(showIcon)]"
            aria-hidden="true"></span>
    </div>

    <slot name="after"></slot>

    <div v-if="showHelp" class="help-block relative" @click="focus">{{help}}</div>
    <div v-if="showError" class="help-block with-errors relative" @click="focus">{{error}}</div>
  </div>

</div>
