//
// Structure classes
// --------------------------------------------------
.mt0 {margin-top: 0;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt30 {margin-top: 40px;}

.ml0 {margin-left: 0;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}

.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}

.wd100 {width: 100%;}
.minWd100 {min-width: 100px;}
