<nav :class="['navbar', 'navbar-'+type, placement === 'static'?'navbar-static-top':'navbar-fixed-'+placement]">
  <div class="container-fluid">
    <div class="navbar-header">
      <button v-if="!$slots.collapse" type="button" class="navbar-toggle collapsed" aria-expanded="false" @click="toggleCollapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <slot name="collapse"></slot>
      <slot name="brand"></slot>
    </div>
    <div :class="['navbar-collapse',{collapse:collapsed}]">
      <ul class="nav navbar-nav">
        <slot></slot>
      </ul>
      <ul v-if="$slots.left" class="nav navbar-nav navbar-left">
        <slot name="left"></slot>
      </ul>
      <ul v-if="$slots.right" class="nav navbar-nav navbar-right">
        <slot name="right"></slot>
      </ul>
    </div>
  </div>
</nav>
