// Displayer

@import '../../_core/mixins';

@mixin displayer-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .displayer-link {
    color: $text-color;
  }
}
