<div class="form-group"
:class="[showState]">
  <div class="infile">
    <slot name="label">
      <label v-if="label" class="control-label">{{label}}</label>
    </slot>

    <div class="btn-group form-control">

      <input type="file"
      :name="name"
      :disabled="disabled"
      :multiple="multiple"
      @change="changeUploadImage"
      class="input-file" />

      <button
      type="button"
      :disabled="disabled"
      class="btn btn-default btn-base">{{ textButton }}</button>

      <div v-if="icon" class="icon fileicon">
        <span :class="['form-control-feedback fa','fa-'+(showIcon)]"
              aria-hidden="true"></span>
      </div>

      <a class="btn btn-default" @click="removeFile()" v-if="clearButton" :disabled="disabled">
        <span class="fa fa-close"></span>
      </a>

    </div>
  </div>

  <div v-if="showHelp" class="help-block relative">{{help}}</div>
  <div v-if="showError" class="help-block with-errors relative">{{error}}</div>
</div>
