<div role="dialog" :class="['modal',effect]" @click="backdrop&&action(false,1)" @transitionend="transition = false">
  <div :class="['modal-dialog',{'modal-lg':large,'modal-sm':small}]" role="document" :style="{width: optionalWidth}" @click.stop="action(null)">
    <div class="modal-content">
      <slot name="modal-header">
        <div class="modal-header">
          <button type="button" class="close" @click="action(false,2)"><span>&times;</span></button>
          <h4 class="modal-title"><slot name="title">{{title}}</slot></h4>
        </div>
      </slot>
      <slot name="modal-body"><div class="modal-body"><slot></slot></div></slot>
      <slot name="modal-footer">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" @click="action(false,3)">{{ cancelText }}</button>
          <button type="button" class="btn btn-primary" @click="action(true,4)">{{ okText }}</button>
        </div>
      </slot>
    </div>
  </div>
</div>
