<div id="app" class="container">

  <div id="wrapper">
    <div class="bs-docs-header">
      <h1>Maestro - Bootue</h1>
      <p>Bootstrap components built with <a target="_blank" href="http://vuejs.org/">Vue.js</a>.</p>
      <p>No jQuery, bootstrap.js, or any 3rd party plugins required.</p>

    </div>

    <div class="bs-docs-container">
      <div class="row">
        <div class="col-md-9">

          <div class="well-white" id="Accordion">
            <h3>Accordion</h3>
            <accordion :one-at-atime="checked" type="info">
              <panel is-open type="primary">
                <strong slot="header"><u>Panel #1</u></strong>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </panel>
              <panel header="Panel #2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </panel>
              <panel header="Panel #3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </panel>
              <panel header="Panel #4">
                ...
              </panel>
            </accordion>
          </div>

          <div class="well-white" id="Affix">
            <h3>Affix</h3>
            <div class="bs-example">
              <h3>
                The sub-navigation on the RIGHT is a live demo of the affix.
                <span class="visible-xs-block visible-sm-block">(The live demo is hidden in small screens)</span>
                <tooltip trigger="hover" effect="fadein" content="I'm a direction, not jerking off!" placement="left">
                  <span class="glyphicon glyphicon-hand-right pull-right animated shake hidden-xs hidden-sm"></span>
                </tooltip>
              </h3>
            </div>
          </div>

          <div class="well-white" id="Alert">
            <h3>Alert</h3>
            <div class="bs-example">
              <button class="btn btn-danger btn-lg"
                      @click="showTop = !showTop">
                Click to toggle alert on top
              </button>
              <alert v-model="showTop" placement="top" :duration="3000"
                     type="danger" width="400px" dismissable
              >
                <span class="icon-info-circled alert-icon-float-left"></span>
                <strong>Heads up!</strong>
                <p>This alert needs your attention.</p>
              </alert>
              <button class="btn btn-success btn-lg"
                      @click="showRight = !showRight">
                Click to toggle alert on right
              </button>
              <alert v-model="showRight" placement="top-right" :duration="3000"
                     type="success" width="400px" dismissable
              >
                <span class="icon-ok-circled alert-icon-float-left"></span>
                <strong>Well Done!</strong>
                <p>You successfully read this important alert message.</p>
              </alert>
              <hr>
              <alert type="success">
                <strong>Well Done!</strong>
                You successfully read this important alert message.
              </alert>
              <alert type="info">
                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
              </alert>
              <alert type="danger" dismissable>
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
              </alert>
              <alert type="warning" dismissable>
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
              </alert>
            </div>
          </div>

          <div class="well-white" id="Aside">
            <h3>Aside</h3>

            <button class="btn btn-danger btn-lg" @click="showLeft = true">Show Aside on left</button>
            <button class="btn btn-success btn-lg" @click="showRightA = true">Show Aside on right</button>

            <sidebar :show="showLeft" @close="showLeft = false" placement="left" header="Title" :width="350">
              <h4>Text in aside</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              <p> Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>

              <div class="aside-footer">
                <button type="button" class="btn btn-default" @click="showLeft=false">Close</button>
              </div>
            </sidebar>

            <sidebar :show="showRightA" @close='showRightA = false' placement="right" header="Title" :width="350">
              <h4>Text in aside</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              <p> Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>

              <div class="aside-footer">
                <button type="button" class="btn btn-default" @click="showRightA=false">Close</button>
              </div>
            </sidebar>

          </div>

          <div class="well-white" id="Buttons">
            <h3>Buttons</h3>
            <a class="btn btn-default" href="#" role="button">Link</a>
            <button class="btn btn-default" type="submit">Button</button>
            <input class="btn btn-default" type="button" value="Input">
            <input class="btn btn-default" type="submit" value="Submit">

            <!-- Standard button -->
            <button type="button" class="btn btn-default">Default</button>

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary">Primary</button>

            <!-- Indicates a successful or positive action -->
            <button type="button" class="btn btn-success">Success</button>

            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info">Info</button>

            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Warning</button>

            <!-- Indicates a dangerous or potentially negative action -->
            <button type="button" class="btn btn-danger">Danger</button>

            <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
            <button type="button" class="btn btn-link">Link</button>
          </div>

          <div class="well-white" id="Button">
            <h3>Button group</h3>
            <div class="bs-example">
              <h4>Checkbox</h4>
              <button-group v-model="checkboxValue">
                <bs-checkbox true-value="left">Left</bs-checkbox>
                <bs-checkbox true-value="middle">Middle</bs-checkbox>
                <bs-checkbox true-value="right">Right</bs-checkbox>
              </button-group>
              <p>
              <pre>Checkbox value: {{ checkboxValue }}</pre>
              </p>
              <hr>
              <h4>Radio</h4>
              <p>
                <button-group v-model="radioValue" type="primary">
                  <bs-radio true-value="left">Left</bs-radio>
                  <bs-radio true-value="middle">Middle</bs-radio>
                  <bs-radio true-value="right">Right</bs-radio>
                </button-group>
              </p>
              <p>
                <button-group v-model="radioValue" type="success">
                  <bs-radio true-value="left">Left</bs-radio>
                  <bs-radio true-value="middle">Middle</bs-radio>
                  <bs-radio true-value="right">Right</bs-radio>
                </button-group>
              </p>
              <p>
                <label>Not buttons:</label>
                <button-group v-model="radioValue" type="info" buttons="false">
                  <bs-radio true-value="left">Left</bs-radio>
                  <bs-radio true-value="middle">Middle</bs-radio>
                  <bs-radio true-value="right">Right</bs-radio>
                </button-group>
              </p>
              <p>
              <pre>Radio value: {{ radioValue }}</pre>
              </p>
            </div>

          </div>

          <div class="well-white" id="Carrousel">
            <h3>Carrousel</h3>

            <carousel>
              <slider>
                <img src="https://placehold.it/1200x500?text=one">
                <div class="carousel-caption">
                  <h3>Slide #1</h3>
                  <p>sunt in culpa qui officia deserunt mollit a.</p>
                </div>
              </slider>
              <slider>
                <img src="https://placehold.it/1200x500?text=two">
                <div class="carousel-caption">
                  <h3>Slide #2</h3>
                  <p>sunt in culpa qui officia deserunt mollit a.</p>
                </div>
              </slider>
              <slider>
                <img src="https://placehold.it/1200x500?text=three">
                <div class="carousel-caption">
                  <h3>Slide #3</h3>
                  <p>sunt in culpa qui officia deserunt mollit a.</p>
                </div>
              </slider>
            </carousel>

          </div>

          <div class="well-white" id="Checkbox">
            <h3>Checkbox</h3>
            <bs-checkbox v-model="checkboxValueC.one" true-value="1">One</bs-checkbox>
            <bs-checkbox v-model="checkboxValueC.two" true-value="two" type="danger" disabled>Two (disabled)
            </bs-checkbox>
            <bs-checkbox v-model="checkboxValueC.two" true-value="two" type="warning" readonly>Two (readonly)
            </bs-checkbox>
            <bs-checkbox v-model="checkboxValueC.two" true-value="two" type="success">Two</bs-checkbox>
            <hr>
            <h4>Checkbox Button (Single button)</h4>
            <bs-checkbox button v-model="checkboxValueC.three" :true-value="2+1" type="primary">Three</bs-checkbox>
            <bs-checkbox button v-model="checkboxValueC.four" type="info" disabled>Four (disabled)</bs-checkbox>
            <bs-checkbox button v-model="checkboxValueC.four" type="info" readonly>Four (readonly)</bs-checkbox>
            <bs-checkbox button v-model="checkboxValueC.four" type="info">Four</bs-checkbox>
            <br/><br/>
            <p>
            <pre>Checkbox values: {{ checkboxValueC }}</pre>
            </p>
          </div>

          <div class="well-white" id="Datapicker">
            <h3>Datapicker</h3>

            <div class="bs-example">
              <p>
              <pre>Selected date is: {{dateString}}</pre>
              </p>
              <bs-datepicker ref="dp" v-model="date" :disabled-days-of-week="disabled" :format="format"
                             :clear-button="clear" :placeholder="placeholder" width="370px"></bs-datepicker>
              <h4>Disabled days of week</h4>

              <bs-select multiple v-model="disabled" :options="[0,1,2,3,4,5,6]"></bs-select>

              <h4>Format</h4>
              <bs-select v-model="format" :options="formats"></bs-select>

              <h4>Reset button</h4>
              <bs-checkbox :value="clear" @checked="clear = arguments[0]" type="primary">toggle clear button
              </bs-checkbox>
            </div>
          </div>

          <div class="well-white" id="DropDown">
            <h3>DropDown</h3>

            <div class="bs-example">
              <dropdown>
                <strong slot="button">Action (bold)</strong>
                <ul slot="dropdown-menu" class="dropdown-menu">
                  <li><a href="#dropdown">Action</a></li>
                  <li><a href="#dropdown">Another action</a></li>
                  <li><a href="#dropdown">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#dropdown">Separated link</a></li>
                </ul>
              </dropdown>
              <dropdown text="Action" type="primary">
                <li><a href="#dropdown">Action</a></li>
                <li><a href="#dropdown">Another action</a></li>
                <li><a href="#dropdown">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#dropdown">Separated link</a></li>
              </dropdown>
              <dropdown>
                <i slot="button">Action (italic)</i>
                <ul slot="dropdown-menu" class="dropdown-menu">
                  <li><a href="#dropdown">Action</a></li>
                  <li><a href="#dropdown">Another action</a></li>
                  <li><a href="#dropdown">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#dropdown">Separated link</a></li>
                </ul>
              </dropdown>
              <dropdown text="Disabled" type="warning" disabled>
                <li><a href="#dropdown">Action</a></li>
              </dropdown>
              <dropdown type="info">
                <button slot="before" type="button" class="btn btn-info">Segmented</button>
                <li><a href="#dropdown">Action</a></li>
              </dropdown>
              <br/><br/>
              <div class="btn-group btn-group-justified">
                <a href="#dropdown" class="btn btn-default" role="button">Left</a>
                <dropdown>
                  <u slot="button">Dropdown (underlined)</u>
                  <ul slot="dropdown-menu" class="dropdown-menu">
                    <li><a href="#dropdown">Action</a></li>
                    <li><a href="#dropdown">Another action</a></li>
                    <li><a href="#dropdown">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#dropdown">Separated link</a></li>
                  </ul>
                </dropdown>
                <a href="#dropdown" class="btn btn-default" role="button">Right</a>
              </div>
            </div>

          </div>


          <div class="well-white" id="Forms">
            <h3>Form default</h3>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <hr/>
            <h3>Form Horizontal</h3>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign in</button>
                </div>
              </div>
            </form>

            <hr/>
            <h3>Form inline</h3>
            <form class="form-inline">
              <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
              </div>
              <button type="submit" class="btn btn-default">Send invitation</button>
            </form>


          </div>

          <div class="well-white" id="FormValidator">
            <h3>FormValidator</h3>
            <bs-form-validator v-model="valid.all">
              <div>
                <tabs v-model="activeF">
                  <tab header="User">
                    <bs-form-validator @valid="valid.user = true" @invalid="valid.user = false">
                      <bs-input label="User Name" required></bs-input>
                      <bs-input label="Email" type="email" required></bs-input>
                    </bs-form-validator>
                    <button type="button" class="btn btn-primary" :disabled="!valid.user" @click="activeF = 1">
                      Continue
                    </button>
                  </tab>
                  <tab header="Direction" :disabled="!valid.user">
                    <bs-form-validator @isvalid="valid.direction = arguments[0]">
                      <div class="form-validator">
                        <label class="control-label">Continent</label>
                        <bs-select required justified :options="['America','Europe']" clear-button></bs-select>
                      </div>
                      <bs-input label="City" type="text" required></bs-input>
                    </bs-form-validator>
                    <button type="button" class="btn btn-primary" :disabled="!valid.all">Done!!</button>
                  </tab>
                </tabs>
              </div>
            </bs-form-validator>

          </div>

          <div class="well-white" id="Input">
            <h3>Input</h3>

            <bs-input v-model="input"
                      label="Username"
                      help="Only allows lowercase letters and numbers."
                      error="Insert username"
                      placeholder="Username can't start with a number."
                      pattern="^[a-z][a-z0-9]+$"
                      :minlength="5"
                      readonly
                      required
                      icon
            ></bs-input>
            <bs-input required label="Match value" type="password"
                      :match="input"
            ></bs-input>
            <bs-input label="Textarea" type="textarea"
                      @focus="event = 'focused'"
                      @blur="event = 'blured'"
            ></bs-input>

          </div>

          <div class="well-white" id="Labels">
            <h3>Labels and badges</h3>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>

            <a href="#">Inbox
              <badge>42</badge>
            </a>

            <button class="btn btn-primary" type="button">
              Messages
              <badge>4</badge>
            </button>
          </div>

          <div class="well-white" id="Modal">
            <h3>Modal</h3>

            <div class="bs-example">
              <button class="btn btn-default" @click="showModal = true">Show modal</button>
              <modal title="Modal title" v-model="showModal" @ok="showModal = false">
                <div slot="modal-header" class="modal-header">
                  <h4 class="modal-title">Modal <b>Title</b></h4>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </modal>
              <button class="btn btn-success" @click="fadeModal = true">Fade modal</button>
              <modal title="Fade Modal" effect="fade" width="800" v-model="fadeModal" @ok="fadeModal = ok()">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </modal>
              <button class="btn btn-default" @click="showCustomModal = true">Show custom modal</button>
              <modal effect="fade" width="50%" v-model="showCustomModal" @ok="showCustomModal = ok()">
                <div slot="modal-header" class="modal-header">
                  <h4 class="modal-title"><i>Custom</i> <code>Modal</code> <b>Title</b></h4>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <div slot="modal-footer" class="modal-footer">
                  <button type="button" class="btn btn-default" @click="showCustomModal = false">Exit</button>
                  <button type="button" class="btn btn-success" @click="showCustomModal = ok()">Custom Save</button>
                  <button type="button" class="btn btn-success" @click="alert">Another Action</button>
                </div>
              </modal>
              <button class="btn btn-primary" @click="zoomModal = true">Zoom modal</button>
              <modal title="Zoom Modal" effect="zoom" width="400" v-model="zoomModal" @ok="zoomModal = ok()">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </modal>
              <button class="btn btn-warning" @click="largeModal = true">Large modal</button>
              <modal title="Large Modal" large v-model="largeModal" @ok="largeModal = ok()">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </modal>
              <button class="btn btn-danger" @click="smallModal = true">Small modal</button>
              <modal title="Small Modal" small v-model="smallModal" @ok="smallModal = ok()">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </modal>
            </div>
          </div>

          <div class="well-white" id="Pagination">
            <h3>Pagination</h3>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="well-white" id="Jumbotron">
            <h3>Jumbotron</h3>
            <div class="jumbotron">
              <h1>Hello, world!</h1>
              <p>...</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
          </div>

          <div class="well-white" id="Popover">
            <h3>Popover</h3>
            <div class="bs-example">
              <popover v-for="place in placements" effect="fade" :content="text" :placement="place" :key="place.id">
                <button class="btn btn-default">Popover on {{place}}</button>
              </popover>
              <hr>
              <h4>Title</h4>
              <popover v-for="place in placements" :key="place.id" effect="fade" header title="Title" :content="text"
                       :placement="place">
                <button class="btn btn-default">Popover on {{place}}</button>
              </popover>
              <hr>
              <h4>Trigger</h4>
              <p>
                <popover effect="scale" title="Title" :content="content" placement="top" trigger="hover">
                  <button class="btn btn-default">Mouseenter</button>
                </popover>
                <popover effect="scale" title="Title" :content="text" placement="top" trigger="contextmenu">
                  <button class="btn btn-default">Contextmenu (right click)</button>
                </popover>
              </p>
              <popover effect="scale" title="Title" :content="text" placement="bottom" trigger="focus">
                <bs-input type="text" placeholder="Focus"></bs-input>
              </popover>
            </div>

          </div>

          <div class="well-white" id="Progressbar">
            <h3>Progressbar</h3>
            <div class="bs-example">
              <h4>Static</h4>
              <div class="row">
                <div class="col-md-4">
                  <div class="progress">
                    <progressbar now="20" type="success"></progressbar>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="progress">
                    <progressbar now="40" type="info"></progressbar>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="progress">
                    <progressbar now="60" type="primary"></progressbar>
                  </div>
                </div>
              </div>
              <hr/>
              <h4>Dynamic
                <button type="button" class="btn btn-default" @click="dynamicClick">Randomize</button>
              </h4>
              <div class="progress">
                <progressbar :now="dynamicData[0]" type="info"></progressbar>
              </div>
              <div class="progress">
                <progressbar :now="dynamicData[1]" type="warning"></progressbar>
              </div>
              <div class="progress">
                <progressbar :now="dynamicData[2]" type="danger"></progressbar>
              </div>
              <div class="progress">
                <progressbar :now="dynamicData[3]" type="success" striped></progressbar>
              </div>
              <div class="progress">
                <progressbar :now="dynamicData[4]" type="success" striped animated></progressbar>
              </div>
              <hr/>
              <h4>Stacked
                <button type="button" class="btn btn-default" @click="stackedClick">Randomize</button>
              </h4>
              <div class="progress">
                <progressbar :now="stackedData[0]" label type="warning" striped></progressbar>
                <progressbar :now="stackedData[1]" label type="success"></progressbar>
                <progressbar :now="stackedData[2]" label type="danger"></progressbar>
                <progressbar :now="stackedData[3]" label type="primary" striped animated></progressbar>
              </div>

            </div>
          </div>

          <div class="well-white" id="Radio">
            <h3>Radio</h3>
            <div class="bs-example">
              <h4>Radio</h4>
              <bs-radio v-model="radioValue" checked-value="one">One</bs-radio>
              <bs-radio v-model="radioValue" checked-value="two" type="danger" disabled>Two (disabled)</bs-radio>
              <bs-radio v-model="radioValue" checked-value="two" type="warning" readonly>Two (readonly)</bs-radio>
              <bs-radio v-model="radioValue" checked-value="two" type="success">Two</bs-radio>
              <hr>
              <h4>Radio Button (Single buttons)</h4>
              <bs-radio button v-model="radioValue" checked-value="three" type="primary">Three</bs-radio>
              <bs-radio button v-model="radioValue" checked-value="four" type="info" disabled>Four (disabled)</bs-radio>
              <bs-radio button v-model="radioValue" checked-value="four" type="info" readonly>Four (readonly)</bs-radio>
              <bs-radio button v-model="radioValue" checked-value="four" type="info">Four</bs-radio>
              <br/><br/>
              <p>
              <pre>Radio value: {{ radioValue }}</pre>
              </p>
            </div>
          </div>

          <div class="well-white" id="Select">
            <h3>Select</h3>
            <div class="bs-example">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <p>
                  <pre>Normal select data: {{select.normal}}</pre>
                  </p>
                  <form action="./#select" method="get">
                    <bs-select :options="select.options" options-value="val" v-model="select.normal" name="animal"
                               :search="select.search"
                               :required="select.required" :clear-button="select.clearButton"
                               :disabled="select.disabled"
                               :placeholder="select.placeholder?'Using placeholder':null"
                    ></bs-select>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <br/>
                  <p>
                  <pre>Multiple select data : {{select.multiple.join(',')}}</pre>
                  </p>
                  <form action="./#select" method="get">
                    <bs-select :options="select.options" options-value="val" v-model="select.multiple" name="animals[]"
                               :search="select.search"
                               multiple :required="select.required" :clear-button="select.clearButton"
                               :placeholder="select.placeholder?'Using placeholder':null"
                               :close-on-select="select.closeOnSelect" :limit="select.limit?3:1024"
                               :disabled="select.disabled"
                    ></bs-select>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
              </div>
              <br/>
              <button-group type="primary" :buttons="false">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p>
                      <bs-checkbox v-model="select.disabled">Disabled</bs-checkbox>
                    </p>
                    <p>
                      <bs-checkbox v-model="select.placeholder">Placeholder</bs-checkbox>
                    </p>
                    <p>
                      <bs-checkbox v-model="select.search">Search</bs-checkbox>
                    </p>
                    <p>
                      <bs-checkbox v-model="select.clearButton">Clear Button</bs-checkbox>
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p>
                      <bs-checkbox v-model="select.required">Required (empty value if noting selected)</bs-checkbox>
                    </p>
                    <p>
                      Multiple:
                      <bs-checkbox v-if="select.multiple" v-model="select.limit">Limit (e.g. 3)</bs-checkbox>
                      <bs-checkbox v-if="select.multiple" v-model="select.closeOnSelect">Close on Select</bs-checkbox>
                    </p>
                  </div>
                </div>
              </button-group>
            </div>
          </div>

          <div class="well-white" id="Tabs">
            <h3>Tabs docs</h3>
            <div class="bs-example">
              <p>Style:
                <bs-select v-model="navStyle" :options="['tabs','pills','stacked']"></bs-select>
              </p>
              <p v-if="navStyle!='stacked'">Justified:
                <bs-select v-model="justified" :options="[true,false]"></bs-select>
              </p>
              <!-- <bs-checkbox v-model="justified">Justified</bs-checkbox> -->
              <tabs :nav-style="navStyle" :justified="justified">
                <tab header="zero">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </tab>
                <tab header="one">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </tab>
                <tab header="two" disabled>
                  ...
                </tab>
                <tab-group header="group1">
                  <tab header="three">
                    <p>
                      Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                      Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                      loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                      aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic
                      magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
                      Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                      culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui
                      sapiente accusamus tattooed echo park.
                    </p>
                  </tab>
                  <tab header="four" disabled>
                    ...
                  </tab>
                </tab-group>
                <tab-group header="group2" disabled>
                  <tab header="five">
                    ...
                  </tab>
                </tab-group>
              </tabs>
            </div>
          </div>

          <div class="well-white" id="Toggle">
            <h3>Toggle button</h3>
            <div class="bs-example form-group">
              <h4>ToggleButton</h4>
              <p>A 2 states button (single true/false) but with a better looking.</p>
              <div class="form-group">
                <toggle-button v-model="toogle.one">One</toggle-button>
                <toggle-button v-model="toogle.two">Two</toggle-button>
                <toggle-button v-model="toogle.two" true-type="info" disabled>Two (disabled)</toggle-button>
                <toggle-button v-model="toogle.two" false-type="warning" readonly>Two (readonly)</toggle-button>
                <toggle-button v-model="toogle.three" true-type="success" false-type="danger">Three</toggle-button>
              </div>
              <div class="form-group">
                <bs-input v-model="toogle.content" :disabled="!input" placeholder="Will be cleaned when is disabled.">
          <span slot="before" class="input-group-btn">
            <toggle-button v-model="toogle.input" @disabled="toogle.content=''">Toggle Input:</toggle-button>
          </span>
                </bs-input>
              </div>
              <p>
              <pre>Toggle values: {{ $data.toogle }}</pre>
              </p>
            </div>
          </div>

          <div class="well-white" id="Tooltip">
            <h3>Tooltip</h3>
            <div class="bs-example">
              <tooltip v-for="place in ['top','left','right','bottom']" :key="place.id" header
                       content="Lorem ipsum dolor sit amet" :placement="place">
                <button class="btn btn-default">Popover on {{place}}</button>
              </tooltip>
              <hr>
              <h4>Trigger</h4>
              <p>
                <tooltip effect="scale" content="Lorem ipsum dolor sit amet" placement="top" trigger="click">
                  <button class="btn btn-default">Click</button>
                </tooltip>
                <tooltip effect="scale" content="Lorem ipsum dolor sit amet" placement="top" trigger="contextmenu">
                  <button class="btn btn-default">Contextmenu (right click)</button>
                </tooltip>
              </p>
              <tooltip effect="scale" content="Lorem ipsum dolor sit amet" placement="bottom" trigger="focus">
                <bs-input type="text" placeholder="Focus"></bs-input>
              </tooltip>
            </div>

          </div>

          <div class="well-white" id="Typeahead">
            <h3>Typeahead</h3>
            <div class="bs-example">
              <h4>Static arrays</h4>
              <typeahead :data="USstate" placeholder="USA states"></typeahead>
              <hr>
              <h4>
                Asynchronous results
                <tooltip trigger="click" content="The suggestions via a Google Map API, are you behind a FireWall?"
                         placement="top">
                  <small style="cursor:pointer">(not working?)</small>
                </tooltip>
              </h4>
              <typeahead
                placeholder="CCCAddress, async via maps.googleapis.com"
                async-key="results"
                async="https://maps.googleapis.com/maps/api/geocode/json?address="
                :template="asyncTemplate"
                :on-hit="googleCallback"
              ></typeahead>
              <hr>
              <h4>Custom templates for results</h4>
              <typeahead
                placeholder="Github users, async via api.github.com"
                async-key="items"
                async="https://api.github.com/search/users?q="
                :template="githubTemplate"
                :on-hit="githubCallback"
              ></typeahead>
            </div>
          </div>

        </div>

        <div class="col-md-3">
          <affix :offset="1">Forms
            <ul class="list-unstyled" id="sidenav">
              <li><a href="#getting">Getting Stater</a></li>
              <li><a href="#Accordion">Accordion</a></li>
              <li><a href="#Affix">Affix</a></li>
              <li><a href="#Alert">Alert</a></li>
              <li><a href="#Aside">Aside</a></li>
              <li><a href="#Buttons">Buttons</a></li>
              <li><a href="#Button">Button group</a></li>
              <li><a href="#Carrousel">Carrousel</a></li>
              <li><a href="#Checkbox">Checkbox</a></li>
              <li><a href="#Datapicker">Datapicker</a></li>
              <li><a href="#DropDown">DropDown</a></li>
              <li><a href="#Forms">Forms</a></li>
              <li><a href="#FormValidator">FormValidator</a></li>
              <li><a href="#Input">Input</a></li>
              <li><a href="#Modal">Modal</a></li>
              <li><a href="#Jumbotron">Jumbotron</a></li>
              <li><a href="#Labels">Labels and badges</a></li>
              <li><a href="#Pagination">Pagination</a></li>
              <li><a href="#Popover">Popover</a></li>
              <li><a href="#Progressbar">Progressbar</a></li>
              <li><a href="#Radio">Radio</a></li>
              <li><a href="#Select">Select</a></li>
              <li><a href="#Tabs">Tabs docs</a></li>
              <li><a href="#Toggle">Toggle button</a></li>
              <li><a href="#Tooltip">Tooltip</a></li>
              <li><a href="#Typeahead">Typeahead</a></li>
            </ul>
          </affix>
        </div>
      </div>
    </div>
  </div>
  <footer class="bs-docs-footer">
    <div class="container">

      <h4>Vue 2 Component full version built by <a href="https://github.com/maestro-server">Signorini</a>.</h4>
      <p>Designed and built by <a href="https://github.com/yuche/">yuche</a>.</p>
      <p>Vue 2 version built by <a href="https://github.com/wffranco/">wffranco</a>.</p>
      <p>
        Using <a href="http://twitter.github.com/bootstrap" target="_blank">Twitter Bootstrap</a>
        and the <a href="css/docs.css" target="_blank">Bootstrap's docs styles</a> designed and built by <a
        href="http://twitter.com/mdo" target="_blank">@mdo</a>
        and <a href="http://twitter.com/fat" target="_blank">@fat</a>.
      </p>
      <p>
        Code licensed under <a href="//github.com/mgcrea/angular-strap/blob/master/LICENSE.md" target="_blank">The MIT
        License</a>,
        documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
      </p>
    </div>
  </footer>
</div>

</div>
