<div class="form-group"
     :class="{validate:canValidate,'has-feedback':icon,'has-error':canValidate&&valid===false,'has-success':canValidate&&valid}">
  <slot name="label">
    <label v-if="label" class="control-label" @click="focus">{{label}}</label>
  </slot>

  <div v-if="$slots.before||$slots.after" class="input-group">
    <slot name="before"></slot>
    <textarea :is="type=='textarea'?type:'input'" class="form-control" ref="input"
              :cols="cols"
              :disabled="disabled"
              :list="id_datalist"
              :max="attr(max)"
              :maxlength="maxlength"
              :min="attr(min)"
              :name="name"
              :placeholder="placeholder"
              :readonly="readonly"
              :required="required"
              :rows="rows"
              :step="step"
              :title="attr(title)"
              :type="type=='textarea'?null:type"
              v-model="val"
              @blur="emit" @focus="emit" @input="emit"
    ></textarea>
    <div v-if="clearButton && value" :class="{icon:icon}">
      <span class="close" @click="value = ''">&times;</span>
    </div>
    <div v-if="icon" class="icon">
      <span v-if="icon&&valid!==null" :class="['form-control-feedback fa','fa-'+(valid?'check':'times')]"
            aria-hidden="true"></span>
    </div>
    <slot name="after"></slot>
  </div>
  <template v-else>
    <div class="positionRelative">
      <textarea :is="type=='textarea'?type:'input'" class="form-control" ref="input"
                :cols="cols"
                :disabled="disabled"
                :list="id_datalist"
                :max="attr(max)"
                :maxlength="maxlength"
                :min="attr(min)"
                :name="name"
                :placeholder="placeholder"
                :readonly="readonly"
                :required="required"
                :rows="rows"
                :step="step"
                :title="attr(title)"
                :type="type=='textarea'?null:type"
                v-model="val"
                @blur="emit" @focus="emit" @input="emit"
      ></textarea>
      <span v-if="clearButton && val" class="close" @click="val = ''">&times;</span>
      <span v-if="icon&&valid!==null" :class="['form-control-feedback fa','fa-'+(valid?'check':'times')]"
            aria-hidden="true"></span>
    </div>
  </template>
  <datalist v-if="id_datalist" :id="id_datalist">
    <option v-for="opc in options" :value="opc"></option>
  </datalist>
  <div v-if="showHelp" class="help-block" @click="focus">{{help}}</div>
  <div v-if="showError" class="help-block with-errors" @click="focus">{{errorText}}</div>
</div>
