<div class="form-group"
     :class="{'has-feedback':icon, 'has-error':showError, 'has-success':showHelp}">
  <slot name="label">
    <label v-if="label" class="control-label" @click="focus">{{label}}</label>
  </slot>

  <div :class="{ 'input-group': isGroup, 'positionRelative': !isGroup }">
    <slot name="before"></slot>
    <div :is="type=='textarea'?type:'input'" class="form-control" ref="input"
              :cols="cols"
              :disabled="disabled"
              :list="id_datalist"
              :name="name"
              :placeholder="placeholder"
              :readonly="readonly"
              :rows="rows"
              :step="step"
              :title="attr(title)"
              :type="type=='textarea'?null:type"
              v-model="val"
              @blur="emit" @focus="emit" @input="emit"
    ></div>

    <template v-if="$slots.before||$slots.after">
      <div v-if="clearButton && value" :class="{icon:icon}">
        <span class="close" @click="value = ''">&times;</span>
      </div>
      <div v-if="icon" class="icon">
        <span v-if="showIcon" :class="['form-control-feedback fa','fa-'+(showIcon?'check':'times')]"
              aria-hidden="true"></span>
      </div>
      <slot name="after"></slot>
    </template>

    <template v-else>
      <span v-if="clearButton && val" class="close" @click="val = ''">&times;</span>
           <span v-if="showIcon" :class="['form-control-feedback fa','fa-'+(showIcon?'check':'times')]"
                 aria-hidden="true"></span>
    </template>

  </div>


  <datalist v-if="id_datalist" :id="id_datalist">
    <option v-for="opc in options" :value="opc"></option>
  </datalist>
  <div v-if="showHelp" class="help-block" @click="focus">{{help}}</div>
  <div v-if="showError" class="help-block with-errors" @click="focus">{{errorText}}</div>
</div>
